/*Todo el texto de la página utilizara una de estas fuentes*/
* { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Propiedades de la imagen de fondo*/
body{
    color: white;
    background-image: url(./fondo/fondo2.jpg);
    background-color: rgb(2, 21, 45);
    /*background-position utilizado para centrar la imagen en el medio*/
    background-position: center center;
    /*background-repeat para que la imagen no se repita si la pagina contiene mucho contenido*/
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment utilizado para controlar que la imagen se quede fija y no se mueva cuando se hace scroll*/
    background-attachment: fixed;
}

/*Propiedades basicas de el titulo y el pie de pagina: color del background, el texto centrado*/
header, footer {
    text-align: center;
    background-color: rgb(1, 13, 29);
    opacity: 0.6;
    padding: 5px;
    
}

/*Texto que acompaña el titulo*/
.textHeader {
    margin: 15px;
}

/*Lo utilizo para dejar un espacio entre clases distintas*/
.separador1 {
    height: 15px;
}

/*los margin controlan que si la pagina aumenta la imagen mantengan sus parametros de la derecha y la izquierda*/
.image {
    height: 600px;
    width: 1000px;
    /*los margin left y right automaticos cambiaran el tamaño de la imagen con el tamaño que tenga la pagina web*/
    margin-left: auto;
    margin-right: auto;
    /*El display block mantendra nuestra pagina en el medio*/
    display: block;
    background-size: cover;
}

/*Propiedades que tendran todas las imagenes*/
/*En CSS los : permiten acceder a propiedades especiales de una etiqueta, clase o elemento general*/
/*El :hover-selector se utiliza para seleccionar elementos cuando pasa el mouse sobre ellos.*/
img {
    /*transition se utiliza para hacer un movimiento suave de las fotos, en este caso se utilizara para todas las img*/
    transition: all 0.3s linear;
}
img:hover{
    /*Al poner el raton encima de la imagen esta obtendra un borde*/
    border-radius: 30px;
}

/*Botones para el movimiento*/
.slider{
    /*El display block mantendra nuestra pagina en el medio*/
    display: flex;
    justify-content: center;
}
.slider button {
    /*parametros del margin arriba, derecha, abajo, izquierda*/
    margin: 0 10px 0  10px;
    margin-top: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 15px;
    transition: 0.6s ease;
    border-radius: 50%  50%;
    background-color: grey;
    opacity: 0.5;
}

.previous:hover, .next:hover .b1:hover{
    /*transition se utiliza para hacer un movimiento suave de las fotos, en este caso se utilizara para todas las img*/
    transition: all 0.4s linear;
    background-color: rgba(3, 40, 105, 0.8);
}

/*Parrafos que contienen el desarrollo del texto, esto es en pocas palabras "RELLENO", al estilo de Naruto XD*/
.development1, .development2, .development3 {
    margin-left: 15px;
}

/*Propiedades de la imagen al final, encima del pie de pagina*/
.lobito {
    height: 50px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}